{% include "base.html" %}

<body>

  <div class="topnav" id="myTopnav">
    <a href="/signup">Registration</a>
    <a href="/login">Login</a>
    <a href="https://discord.gg/MAReMer">Discord</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
      <i class="fa fa-bars"></i>
    </a>
  </div>

  <div class="card">
    <div class="center">
      <h1>Welcome to VFC</h1>
      <h3>Virtual Farming Community</h3>
      <p>Virtual Farming community, is a community of virtual farmers that come together under the same ideals. Those
        include a well rounded community of people, a group of people that play under the same realism that they do.</p>
    </div>
  </div>

  <div class="row">
    <div class="column">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <div class="center">
              <h2>Question:</h2>
              <h3>How do I start?</h3>
            </div>
          </div>
          <div class="flip-card-back">
            <h3>Answer</h3>
            <p>Click the Registration button above to fill out the Registration application. Then you are going to join
              the discord go to the rules chat and type "-agree". A admin or dev member will be with you shortly to
              complete the registration.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <div class="center">
              <h2>Question:</h2>
              <h3>I signed up, now what?</h3>
            </div>
          </div>
          <div class="flip-card-back">
            <h3>Answer</h3>
            <p>A member of the VFC staff will contact you shortly. They will accept your account and you will be able to
              log in. If your request is not accept with the first week feel free to dm one of the staff. Once you are
              accepted there will be more guidelines to look at on how you should conduct your farm and or business.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <div class="center">
              <h2>Question:</h2>
              <h3>What are the time</h3>
              <h3> commitments?</h3>
            </div>
          </div>
          <div class="flip-card-back">
            <h3>Answer</h3>
            <p>It really depends. If you want you could get on everyday. But getting on once every season or during key
              events like harvest and planting will most likely suffice. And the time it takes to harvest or plant also
              depends on type of equipment and other factors. ie, how big the field is. </p>
          </div>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <div class="center">
              <h2>Question:</h2>
              <h3>How does Seasons work?</h3>
            </div>
          </div>
          <div class="flip-card-back">
            <h3>Answer</h3>
            <p>In VFC we run 3 day season which means that one year in VFC is 12 days. The servers are set a 1x speed
              and crops grow about once a day.</p>
          </div>
        </div>
      </div>
    </div>


  </div>

  <div class="card">
    <div class="center">
      <h1>About</h1>
      <h3>Everything you need to know about VFC</h3>
      <p>As you will find in the discord we run a set of servers that are very realistic. All of our servers run seasons
        and have about 6 farms per server. We try to make sure everyone is having a good time in our servers. we are
        very forgiving to new players. Lets say you make a 400,000 dollar mistake you may apply to get a bit of that
        money back. All in all we are very excited for you to join our community. Thanks.</p>
      <p>-Davis</p>
    </div>
  </div>

  <script>
    function myFunction() {
      var x = document.getElementById("myTopnav");
      if (x.className === "topnav") {
        x.className += " responsive";
      } else {
        x.className = "topnav";
      }
    }

  </script>
</body>