{% include "base.html" %}

<body>

  <div class="card">
    <div class="center">
      <h1>{{ message }}</h1>
      <form method="post" action="/main">
        <div class="container">
          <label for="username"><b>Username</b></label>
          <input type="text" placeholder="Enter Username" name="username" required>

          <label for="password"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="Password" required>

          <button type="button" onclick="location.href='/'" class="cancelbtn">Cancel</button>
          <button type="submit" class="btn btn-default" value="Login">login</button>
        </div>
      </form>
    </div>
  </div>

  <script>
    function myFunction() {
      var x = document.getElementById("myTopnav");
      if (x.className === "topnav") {
        x.className += " responsive";
      } else {
        x.className = "topnav";
      }
    }
  </script>

</body>