{% include "base.html" %}
<body>
  <div class="topnav" id="myTopnav">
    <a href="/logout">Log Out</a>
    <a href="https://discord.gg/MAReMer">Discord</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
      <i class="fa fa-bars"></i>
    </a>
  </div>

  <div class="card">
    <div class="center">
      <h1>This is the awesome homepage that only people who have authenticated can see!</h1>
    </div>
  </div>

  
  <script>
    function myFunction() {
      var x = document.getElementById("myTopnav");
      if (x.className === "topnav") {
        x.className += " responsive";
      } else {
        x.className = "topnav";
      }
    }

  </script>
</body>